 @page "/products/"
@inject HttpClient _client
@inject IJSRuntime js
@attribute [Authorize]
@using ItemInsight.Shared.Domain

<h3 class="card-title">ItemInsight Product</h3>
<a href="/products/create" class="btn btn-secondary">
    <span class="oi oi-plus"></span>
    create new product
</a>
<br />
<br />

@code {
    private List<Product>? Products;

    protected async override Task OnInitializedAsync()
    {
        Products = await _client.GetFromJsonAsync<List<Product>>($"{Endpoints.ProductsEndpoint}");
    }

    async Task Delete(int productId)
    {
        if(Products != null)
        {
            var product = Products.First(q => q.Id == productId);
            var confirm = await js.InvokeAsync<bool>("confirm", $"Do you want to delete {product.Name}?");
            if(confirm)
            {
                await _client.DeleteAsync($"{Endpoints.ProductsEndpoint}/{productId}");
                await OnInitializedAsync();
            }
        }
    }
}
@if (Products == null)
{
    <div class="alert alert-info">Loading Products...</div>
}
else
{
    <table class="table table-responsive">
        <thread>
            <tr>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thread>
        <tbody>
            @foreach (var product in Products)
            {
                <tr>
                    <td>@product.Name</td>
                    <td>
                        <a href="/products/view/@product.Id">
                            <span class="oi oi-book"></span>
                        </a>
                        <a href="/products/edit/@product.Id">
                            <span class="oi oi-book"></span>
                        </a>
                        <button class="btn btn-danger" @onclick="@(()=>Delete(product.Id))">
                            <span class="oi oi-delete"></span>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
