@page "/aboutuspage"


@code {

}
<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    body {
        margin: 0;
        background-image: url('../images/aboutus.jpg');
        background-size: cover;
        background-repeat:no-repeat;
    }
    .divspacing{
        width: 400px;
        height: 30px;
    }

    .bolded {
        font-weight: bold;
        color: black;
    }

    .title {
        font-size: 2em;
        color: black;
        user-select: none;
        font-family: "Times New Roman", Times, serif;
        text-decoration: underline;
        text-align: center;
        font-weight: bold;
    }
    .icon-bar {
        width: 100%;
        background-color: #555;
        overflow: auto;
        margin-top:-18px
    }

        .icon-bar a {
            float: left;
            width: 20%;
            text-align: center;
            padding: 12px 0;
            transition: all 0.3s ease;
            color: white;
            font-size: 14px;
        }

            .icon-bar a:hover {
                background-color: #000;
            }

    .active {
        background-color: #04AA6D;
    }
</style>    
<body>

    <div class="icon-bar">
        <a class="active" href="/"><i class="fa fa-home"></i></a>
        <a href="https://www.linkedin.com/in/item-insight-7b19602a7/"><i class="fa fa-linkedin"></i></a>
        <a href="https://www.facebook.com/profile.php?id=61555407505978&is_tour_dismissed=true"><i class="fa fa-facebook"></i></a>
        <a href="https://twitter.com/ItemInsightPage"><i class="fa fa-twitter"></i></a>
        <a href="https://www.instagram.com/iteminsightofficialpage/"><i class="fa fa-instagram"></i></a>
    </div>

    <div class="divspacing">
    </div>

    <h1 class="title">About Us</h1>

    <div class="divspacing">
    </div>

    <h5 class="bolded">
        Welcome to ItemInsight – Your Ultimate Destination for Informed Choices<br /><br />

        At ItemInsight, we understand the significance of making informed decisions when it comes to purchasing products. Our mission is to empower consumers with comprehensive and insightful reviews, helping them navigate the vast landscape of products available in the market. We believe that everyone deserves access to reliable information to make choices that align with their needs and preferences.<br /><br />

        Why Choose ItemInsight:<br /><br />

        Unbiased Reviews: We take pride in providing unbiased and transparent reviews. Our team of experienced reviewers meticulously assesses each product, ensuring that you receive honest and impartial insights. We are committed to delivering reviews that you can trust.<br /><br />

        Diverse Categories: Whether you're searching for the latest tech gadgets, home appliances, fashion trends, or beauty products, ItemInsight covers a wide range of categories. Our goal is to be your go-to resource for diverse product reviews, catering to various interests and lifestyles.<br /><br />

        User-Friendly Interface: Navigating through our website is a breeze. We've designed a user-friendly interface that allows you to find the information you need quickly and efficiently. Save time and make confident decisions with the intuitive layout of ItemInsight.<br /><br />

        Community Engagement: We believe in the power of community. Join our platform to engage with fellow consumers, share your experiences, and gain insights from a community of like-minded individuals. At ItemInsight, we value the collective wisdom of our users.<br /><br />

        Our Reviewers:<br /><br />

        The strength of ItemInsight lies in our dedicated team of reviewers. Comprising experts in various fields, our reviewers bring a wealth of knowledge and experience to the table. Their commitment to thorough research and analysis ensures that you receive the most accurate and up-to-date information about the products you're interested in.<br /><br />

        Stay Updated with Trends:<br /><br />

        At ItemInsight, we stay ahead of the curve. Our platform not only provides reviews but also keeps you informed about the latest trends, product launches, and industry updates. Stay in the loop with ItemInsight and stay ahead of the game.<br /><br />

        Join the ItemInsight Community:<br /><br />

        Whether you're a seasoned shopper or a first-time buyer, ItemInsight welcomes you to be part of our community. Explore our reviews, share your thoughts, and embark on a journey of informed decision-making with ItemInsight – where every insight matters.<br /><br />
    </h5>
</body>
</html>



