@page "/"

<!DOCTYPE html>
<html>

<head>
    <style>
        .title{
            font-family: "Times New Roman", Times, serif;
            text-align: center;
        }

        body {
            margin: 0;
            background-image: url('../images/homepage.jpg');
            background-size: cover;
            background-repeat: no-repeat;
        }
    </style>
    </head>
    <body>
        <PageTitle>Home</PageTitle>

        <h1 class="title">ItemInsight</h1>

        <p class="title">Welcome to ItemInsight.</p>

        <SurveyPrompt Title="Please take our" />
    </body>

</html>
