@page "/linkpage"

<h1>work in progress......</h1>
<p>when clicked it is suppose to send them to the direct link of the product that they clicked the button from</p>
<p>hence there is also no back button since it sends them to the actual product directly and its website</p>

@code {

}
