@code {

}
<!DOCTYPE html>
<html>

<head>
    <!-- Style to create button -->
    <base href="/productreviewpage" />
    <link href="css/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="css/productreview.css" rel="stylesheet" />
</head>

<body>
    <header>
       
        <a href="productpage">
            <button class="PRP"><left> Back </left></button>
        </a>
       
        <h3 class="Title">Product Reviews</h3>

        <nav class="navigation">

            <span class="oi oi-home" aria-hidden="true">
                <a href="/">Home</a>
            </span>

            <span class="oi oi-people" aria-hidden="true">
                <a href="aboutuspage">Contact</a>
            </span>

        </nav>    
       

    </header>
    <div class="divSpace1">
    </div>
    <h3>Some reviews.......</h3>
</body>

</html>
