@code {

}
<!DOCTYPE html>
<html>

<head>
    <style>
        .divSpace {
            width: 400px;
            height: 25px;
        }

        .PP {
            background-color: black;
            border-radius: 25px;
            border: 1px solid;
            color: white;
            padding: 5px 10px;
            text-align: center;
            display: inline-block;
            font-size: 20px;
            cursor: pointer;
            border:
        }


        header {
            top: 0;
            left: 0;
            width: 100%;
            padding: 20px 100px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            z-index: 99;
        }
        
        .Title{
            text-align:center;
            font-family: Georgia, serif;
        }
    </style>
</head>

    <h1 class="Title">Products</h1>

<center><input type="text" id="productID" name="productID" placeholder="Search" size="90"></center>

<div class="divSpace">
   
</div>
<header>
    <a href="productreviewpage">
        <button class="PP"><left> Reviews </left></button>
    </a>

    <a href="productcomparepage">
        <button class="PP"><left> Compare </left></button>
    </a>

    <a href="linkpage">
        <button class="PP"><left> Link </left></button>
    </a>
</header>
<div class="divSpace">

</div>
<header>

    <h2>Item1</h2>
    <h2>Item2</h2>

</header>
</html>
