@code {

}
<!DOCTYPE html>
<html>

<head>
    <!-- Style to create button -->
    <base href="/productcomparepage" />
    <link href="css/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="css/productcompare.css" rel="stylesheet" />
</head>

<body>
    <header>          
    
    <a href="productpage">
        <button class="PCP"><left> Back </left></button>
    </a>

    <h3 class="Logo">Product Comparison</h3>

    <nav class="navigation">

        <span class="oi oi-home" aria-hidden="true">
            <a href="/">Home</a>
        </span>

        <span class="oi oi-people" aria-hidden="true">
            <a href="aboutuspage">Contact</a>
        </span>

    </nav>

    </header>
</body>

</html>