@code {

}

<!DOCTYPE html>
<html>

<head>
  
    <!-- Style to create button -->
    <style>
        .GFG {
            background-color: #AAFF00;
            border: 2px solid black;
            color: green;
            padding: 5px 10px;
            text-align: center;
            display: grid;
            font-size: 20px;
            cursor: pointer;
            margin: auto;
        }
        .space {
            width: 400px;
            height: 100px;
        }
    </style>
</head>

<body>
   <a href="writereviewpage"> 
        <button class="GFG"> Write review </button></a>

    <div class="space">
    </div>

    <p>Test</p>
</body>

</html>
