@page "/Consumers/create/"
@inject HttpClient _client
@inject NavigationManager _navManager
@using ItemInsight.Shared.Domain;

<h3 class="card-title">Create new consumer</h3>
<hr/>
<br/>

@code {
    Consumer consumer = new Consumer();

    private IList<Consumer>? Consumers;
    private IList<Product>? Products;
    private IList<Review>? Reviews;

    protected async override Task OnInitializedAsync()
    {
        
    }
}
