@page "/consumers/"
@inject HttpClient _client
@inject IJSRuntime js
@attribute [Authorize]
@using ItemInsight.Shared.Domain;
@inject HttpInterceptorService _interceptor
@implements IDisposable

<head>
    <style>
        body {
            background: linear-gradient(to bottom right, #070720, #171738, #070720);
            color: #ffffff; /* Optionally, set text color to white for better readability */
        }

        table {
            color: white; /* Set text color for all table content */
        }

        th, td {
            color: white; /* Set text color for table headers and cells */
            border: 1px solid white; /* Optional: Add border for better visibility */
        }
    </style>
</head>

<h3 class="card-title"><b>ItemInsight Consumers</b></h3>

<a href="/consumers/create" class="btn btn-secondary">
    <span class="oi oi-plus"></span>
    Create New Consumer
</a>
<br />
<br />

@code {
    private List<Consumer>? Consumers;

    protected async override Task OnInitializedAsync()

    {
        _interceptor.MonitorEvent();
        Consumers = await _client.GetFromJsonAsync<List<Consumer>>($"{Endpoints.ConsumersEndpoint}");
    }

    public void Dispose()
    {
        _interceptor.DisposeEvent();
    }

    async Task Delete(int consumerId)
    {
        if (Consumers != null)
        {
            var consumer = Consumers.FirstOrDefault(q => q.Id == consumerId);
            if (consumer != null)
            {
                var confirm = await js.InvokeAsync<bool>("confirm", $"Do you want to delete {consumer.Name}?");
                if (confirm)
                {
                    try
                    {
                        var response = await _client.DeleteAsync($"{Endpoints.ConsumersEndpoint}/{consumerId}");
                        if (response.IsSuccessStatusCode)
                        {
                            Consumers.Remove(consumer);
                            StateHasChanged(); // To refresh the UI
                        }
                        else
                        {
                            // Handle the error, maybe show a message to the user
                            var error = await response.Content.ReadAsStringAsync();
                            Console.WriteLine(error);
                        }
                    }
                    catch (Exception ex)
                    {
                        // Log or handle the exception
                        Console.WriteLine(ex.Message);
                    }
                }
            }
        }
    }
}

@if (Consumers == null)
{
    <div class="alert alert-info">Loading Consumers..</div>
}
else
{
    <table class="table table-responsive">
        <thead>
            <tr>
                <th><b>Name</b></th>
                <th><b>Contact</b></th>
                <th><b>Email</b></th>
                <th><b>Password</b></th>
                <th><b>Actions</b></th>

            </tr>
        </thead>
        <tbody>
            @foreach (var consumer in Consumers)
            {
                <tr>
                    <td><b>@consumer.Name</b></td>
                    <td><b>@consumer.ContactNo</b></td>
                    <td><b>@consumer.Email</b></td>
                    <td><b>@consumer.Password</b></td>

                    <td>
                        <a href="/consumers/view/@consumer.Id" class="btn btn-primary">
                            <span class="oi oi-book"></span>
                        </a>
                        <a href="/consumers/edit/@consumer.Id" class="btn btn-warning">
                            <span class="oi oi-pencil"></span>
                        </a>
                        <button class="btn btn-danger" @onclick="(() => Delete(consumer.Id))">
                            <span class="oi oi-delete"></span>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>

}

