@page "/producers/create/"
@inject HttpClient _client
@inject NavigationManager _navManager
@using ItemInsight.Shared.Domain;
@layout NoMenuLayout

<h3 class="card-title">Create New Producer</h3>
<hr />
<br />

<FormComponent ButtonText="Create Producer" producer="producer" OnValidSubmit="@CreateProducer"/>

@code {
    Producer producer = new Producer();

    private async Task CreateProducer()
    {
        await _client.PostAsJsonAsync(Endpoints.ProducersEndpoint, producer);
        _navManager.NavigateTo("/producers/");
    }
}